$xss:"(max-width: 550px)";
$xs: "(max-width: 767px)";
$xs-landscape: "(max-width: 767px) and (orientation:landscape)";
$sm: "(min-width: 768px) and (max-width: 991px)";
$md: "(min-width: 992px) and (max-width: 1199px)";
$lg: "(min-width: 1200px)";
$lgextra: "(min-width: 1400px)";
$xsmd:"(max-width: 1199px)";
$xssm: "(max-width: 991px)";
$mdlg: "(min-width: 992px)";
$smlg: "(min-width: 768px)";

$colorHoverButton: rgba(245,0,87,0.7);
$mainColor: #f50057;