input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $mainColor;
    -webkit-box-shadow: 0 1px 0 0 $mainColor;
    box-shadow: 0 1px 0 0 $mainColor;
}

 /* label focus color */
.input-field input[type=text]:focus + label {
    color: $mainColor !important;
}

.input-field.col label {
    left: 0;
}

.colSubmit{
    .btn{
        margin-top: 1rem;        
    }
}

.contentError{
    color: $mainColor;
    text-align: right;
}
