body {
    margin: 0;
    height:100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

h1{
  font-weight: bold;
  @media #{$xs}{
    font-size: 2.5rem;
  } 
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.container{

    padding: 1rem;
    min-height: 100%;

    @media #{$xs}{
      position: relative;
    }       

    max-width: 1140px;   

    @media #{$xs}{
      max-width: auto;
    } 
    @media #{$sm}{
      max-width: 540px;
    }
    @media #{$sm}{
      max-width: 720px;
    }
    @media #{$lg}{
      max-width: 960px;
    }
    @media #{$lgextra}{
      max-width: 1140px;
    }
}

.mx-auto{
  margin: auto;
}

.text-center{
    text-align: center;
}

.main-title{
  margin-bottom: 3rem;
  @media #{$xs}{
    margin-bottom: 2rem;
  } 
}

.main-color{
  color: $mainColor;
}